.container {
    margin: 2% 5%;
    background-color: aqua;
    padding: 20%;
    border-radius: 10px;
}

label {
    width: 70px;
    display: inline-block;
}

input {
    margin-top: 2px;
}

button {
    margin-top: 5px;
}

footer {
    background-color: orange;
    padding: 3px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

#eredmeny {
    margin-top: 25px;
    background-color: black;
    color: white;
    display: inline-block;
}